
@{
    ViewBag.Title = "Contact";
    string twitter = "@Zalidane";
}

<div id="mainImage" class="jumbotron">
    <h1><span class="bg-success img-rounded">&nbsp;Contact me&nbsp;</span></h1>
</div>

<div class="row">
    <div class="col-md-offset-10">
        <a class="twitter-follow-button" href="https://twitter.com/zalidane" data-show-count="false" data-lang="en">Follow @twitter</a>
    </div>
</div>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, null))
{
    <div class="form-group">
        <div class="col-md-6">
            @Html.TextBox("Name", null, new { placeholder = "Name", @class = "form-control", required = "required" })
            @Html.TextBox("Email", null, new { placeholder = "Email", @class = "form-control", required = "required" })
            @Html.TextArea("Comment", new { placeholder = "Comment", @class = "form-control", required = "required", rows = "10" })
            <input type="submit" name="submit" value="Submit" class="btn btn-success" />
        </div>
        <div class="col-md-6">
            <figure>
                <iframe width="550" height="450" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?zoom=10&center=32.7357%2C-97.1081&key=AIzaSyBodruaGScoarsT_rYVzZa061aBZ6J8WXc"></iframe>
                <figcaption>My Home Town</figcaption>
            </figure>
        </div>
    </div>
}

<script type="text/javascript">
    window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];

        if (d.getElementById(id)) return;

        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        return window.twttr || (t = {
            _e: [], ready: function (f) {
                t._e.push(f)
            }
        });
    }(document, "script", "twitter-wjs"));
</script>